.login-menu{
    display: flex;
}
.login-menu li{
    list-style-type: none;
    margin-left: 100px;
}
.login-menu a{
    text-decoration: none;
}
.login-menu a:hover{
    color: red;
}
h4{
    margin: 0px;
}
.heading{
    color: orange;
    text-align: center;
    margin-top: 25px;
}